.header {
  display: flex;
  padding: 40px;
  align-items: center;
}
.header .title {
  flex-grow: 1;
  margin-left: 20px;
  font-size: 0.6em;
}
.header h1 {
  border-bottom: 1px solid #ffffff33;
  padding-bottom: 10px;
}
.header .pizza-svg {
  cursor: pointer;
  width: 80px;
  overflow: visible;
  stroke: #fff;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-linecap: round;
}
