.modal {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.404);
}

.modal__center {
  text-align: center;
  padding: 4rem 2rem;
  background-color: rgb(42, 5, 77);
  width: 400px;
  max-width: 90%;
  border-radius: 100px 0 100px 0;
}

.modal__center > p {
  margin: 1rem 0;
}

.modal__center > button {
  outline: none;
  cursor: pointer;
  background: transparent;
  margin-top: 1.2rem;
  padding: 0.5rem 2rem;
  border-radius: 999px;
  font-size: large;
  border: 2px solid rgb(255, 255, 255);
}
